.list-of-students {
  display: flex;
  flex-direction: column;
}

.header {
  box-sizing: border-box;
  height: 72px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 16px;
}

.header-logo {
  display: flex;
  gap: 16px;
  align-items: center;
}

.header-logo-img {
  width: 40px;
  height: 40px;
}

.header-logo-text {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
}

.header-login {
  display: flex;
  align-items: center;
}

.content {
  padding: 16px;
  background-color: #e9eeef;
  min-height: 100vh;
  height: auto;
}

.container {
  background-color: white;
  justify-content: space-between;
  height: auto;
  border-radius: 10px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.content-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.dropdown-container-input {
  box-sizing: border-box;
  width: 320px;
  height: 40px;
  border-radius: 8px;
  padding: 10px 16px;
  outline: none;
  border: 1px solid #e9eeef;
}

.content-pagination {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.content-pagination-info {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  color: #004b52;
  opacity: 0.46;
}

.content-pagination-button {
  width: 40px;
}

.students-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin-top: 8px;
}

.students-table th,
.students-table td {
  border-top: 1px solid rgba(0, 75, 82, 0.16);
  padding: 12px 0;
  text-align: left;
}

.students-table tr:first-child {
  border-top: none;
}

#table-text {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  opacity: 0.46;
  text-align: left;
  color: #004b52;
  cursor: pointer;
}

.content-pagination-button:active {
  opacity: 0.4;
}

.status-draft,
.status-published,
.status-reviewed,
.status-pending-review,
.rate-completion-low,
.rate-completion-middle,
.rate-completion-high {
  border: none;
  width: auto;
  height: 24px;
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  color: #004b52;
}

.status-draft {
  background-color: #d9e1e3;
}

.status-published {
  background-color: #b7e885;
}

.status-pending-review {
  background-color: #fcf196;
}

.status-reviewed {
  background-color: #d9e1e3;
}

.rate-completion-low {
  background-color: #d9e1e3;
}

.rate-completion-middle {
  background-color: #fcf196;
}

.rate-completion-high {
  background-color: #b7e885;
}

.filter-popup-checkboxes {
  max-height: 204px;
  overflow-y: auto;
}

/*  */

input {
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.class-label {
  display: flex;
  gap: 8px;
}

/*  */

#lang-class {
  padding: 9px 12px 9px 12px;
}

#lang-class,
#lang-available,
#lang-due {
  height: 36px;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid #004b5229;
  opacity: 0px;
}

#lang-class {
  width: 283.33px;
}

#lang-available {
  width: 240.33px;
}

#lang-due {
  width: 270.33px;
}

.save-draft-button,
.publish-button {
  min-width: fit-content;
  height: 36px;
  padding: 10px 16px 10px 16px;
  gap: 4px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  text-decoration-skip-ink: none;
  color: #004b52;
}

.save-draft-button {
  border: 1px solid rgba(0, 75, 82, 0.16);
  background-color: transparent;
}

.publish-button {
  background-color: #6fd20c;
  border: none;
}

.class-label-title {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  text-decoration-skip-ink: none;
  color: #004b52;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.content-container {
  display: flex;
  flex-direction: row;
}

.content-container-student {
  padding: 16px 16px 0 0;
  flex: 1;
  text-align: center;
  border-top: 1px solid rgba(0, 75, 82, 0.16);
}

.content-container-activity {
  padding: 16px 0 0 16px;
  flex: 1;
  text-align: center;
  border-top: 1px solid rgba(0, 75, 82, 0.16);
}

.content-container-activity {
  border-left: 1px solid rgba(0, 75, 82, 0.16);
}

.content-container-student-type {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.content-container-student-type-button {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.same-for-all-button {
  width: auto;
  height: 36px;
  left: 105px;
  padding: 10px 12px 10px 12px;
  gap: 8px;
  border-radius: 8px;
  border: none;
  opacity: 0px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  text-decoration-skip-ink: none;
  color: #004b52;
  background-color: #d9e1e380;
}

.personalised-button {
  width: auto;
  height: 36px;
  left: 201px;
  padding: 10px 12px 10px 12px;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid rgba(0, 75, 82, 0.16);
  opacity: 0px;
  background-color: transparent;
}

.content-container-activity-recommended {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.rate-completion-low,
.rate-completion-middle,
.rate-completion-high,
.rate-completion-low-min {
  border: none;
  width: auto;
  height: 24px;
  padding: 4px 8px 4px 8px;
  gap: 4px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #004b52;
}

.rate-completion-low-min {
  background-color: #ffc2a8;
}

.rate-completion-low {
  background-color: #d9e1e3;
}

.rate-completion-middle {
  background-color: #fcf196;
}

.rate-completion-high {
  background-color: #b7e885;
}

.lock-icon {
    width: 8px;
    height: 10.5px;
    top: 0.5px;
    left: 2px;
    gap: 0px;
    opacity: 0px;
    
  color: #005e66;
  opacity: 0.46;
}

#table-text {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  opacity: 0.46;
  text-align: left;
  text-decoration-skip-ink: none;
  color: #004b52;
  cursor: pointer;
}

.students-table th,
.students-table td {
  border-top: 1px solid rgba(0, 75, 82, 0.16);
  border-left: none;
  border-right: none;
}

.students-table tr:first-child th {
  border-top: none; /* Прибирає верхню лінію у першому рядку */
}

.students-table-container {
  width: 100%;
  overflow-x: hidden;
}

.students-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin-top: 8px;
  overflow-x: hidden;
}

.students-table th,
.students-table td {
  padding: 8px;
  text-align: left;
  word-wrap: break-word;
}

.students-table tr {
  border-top: 1px solid rgba(0, 75, 82, 0.16);
}

.students-table tr:first-child {
  border-top: none; /* Забираємо лінію для першого рядка */
}

.students-table th,
.students-table td {
  padding: 12px 0 12px 0;
}

.students-table {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #004b52;
}

.student-name {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  text-decoration-skip-ink: none;
  color: #004b52;
}

.main-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #004b52;
}


.weakest-skills-lock-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}