.new-list-of-students {
  display: flex;
  flex-direction: column;
}

.new-header {
  box-sizing: border-box;
  height: 72px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 16px;
}

.new-header-logo {
  display: flex;
  gap: 16px;
  align-items: center;
}

.new-header-logo-img {
  width: 40px;
  height: 40px;
}

.new-header-logo-text {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #004b52;
}

.new-header-login {
  display: flex;
  align-items: center;
}

.new-content {
  padding: 16px;
  background-color: #e9eeef;
  min-height: 100vh;
  height: auto;
}

.new-container {
  background-color: white;
  justify-content: space-between;
  height: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  gap: 0;
}

.new-content-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: auto;
  padding: 16px;
}

.new-dropdown-container-input {
  box-sizing: border-box;
  width: 320px;
  height: 40px;
  border-radius: 8px;
  padding: 10px 16px;
  outline: none;
  border: 1px solid #e9eeef;
}

.new-content-pagination {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.new-content-pagination-info {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  color: #004b52;
  opacity: 0.46;
}

.new-content-pagination-button {
  width: 40px;
}

.new-students-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin-top: 8px;
}

.new-students-table th {
  border-top: 1px solid rgba(0, 75, 82, 0.16);
  padding: 12px 0;
  text-align: left;
  border-left: none;
  border-right: none;
}

.new-students-table tr {
  border-top: 1px solid rgba(0, 75, 82, 0.16);
}

.new-content-container-student {
  padding: 16px;
  flex: 1;
  text-align: center;
  border-right: 1px solid rgba(0, 75, 82, 0.16);
  border-left: 1px solid rgba(0, 75, 82, 0.16);
}

.new-content-container-activity {
  padding: 16px;
  flex: 1;
  text-align: center;
}

.new-students-table tr:first-child {
  border-top: none;
}

#new-table-text {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  opacity: 0.46;
  text-align: left;
  color: #004b52;
  cursor: pointer;
}

.new-content-pagination-button:active {
  opacity: 0.4;
}

.new-status-draft,
.new-status-published,
.new-status-reviewed,
.new-status-pending-review,
.new-rate-completion-low,
.new-rate-completion-middle,
.new-rate-completion-high {
  border: none;
  width: auto;
  height: 24px;
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  color: #004b52;
}

.new-status-draft {
  background-color: #d9e1e3;
}

.new-status-published {
  background-color: #b7e885;
}

.new-status-pending-review {
  background-color: #fcf196;
}

.new-status-reviewed {
  background-color: #d9e1e3;
}

.new-rate-completion-low {
  background-color: #d9e1e3;
}

.new-rate-completion-middle {
  background-color: #fcf196;
}

.new-rate-completion-high {
  background-color: #b7e885;
}

.new-filter-popup-checkboxes {
  max-height: 204px;
  overflow-y: auto;
}

/*  */

input {
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-class-label {
  display: flex;
  gap: 8px;
}

/*  */

#new-lang-class {
  padding: 9px 12px 9px 12px;
  width: auto;
}

#new-lang-class,
#new-lang-available,
#new-lang-due {
  height: 36px;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid #004b5229;
  opacity: 0px;
}

#new-lang-available {
  width: 240.33px;
}

#new-lang-due {
  width: 270.33px;
}

.new-save-draft-button,
.new-publish-button {
  min-width: fit-content;
  height: 36px;
  padding: 10px 16px 10px 16px;
  gap: 4px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  text-decoration-skip-ink: none;
  color: #004b52;
}

.new-save-draft-button {
  border: 1px solid rgba(0, 75, 82, 0.16);
  background-color: transparent;
}

.new-publish-button {
  background-color: #6fd20c;
  border: none;
}

.new-students-title {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  text-decoration-skip-ink: none;
  color: #004b52;
}

.new-buttons-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.new-content-container-student-type {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.new-content-container-student-type-button {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.new-personalised-button {
  width: auto;
  height: 36px;
  left: 201px;
  padding: 10px 12px 10px 12px;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid rgba(0, 75, 82, 0.16);
  opacity: 0px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  text-decoration-skip-ink: none;
  color: #004b52;

  background-color: transparent;
}

.new-content-container-activity-recommended {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.new-rate-completion-low,
.new-rate-completion-middle,
.new-rate-completion-high,
.new-rate-completion-low-min {
  border: none;
  width: auto;
  height: 24px;
  padding: 4px 8px 4px 8px;
  gap: 4px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #004b52;
}

.new-rate-completion-low-min {
  background-color: #ffc2a8;
}

.new-rate-completion-low {
  background-color: #d9e1e3;
}

.new-rate-completion-middle {
  background-color: #fcf196;
}

.new-rate-completion-high {
  background-color: #b7e885;
}

.new-lock-icon {
  width: 8px;
  height: 10.5px;
  top: 0.5px;
  left: 2px;
  gap: 0px;
  opacity: 0px;

  color: #005e66;
  opacity: 0.46;
}

#new-table-text {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  opacity: 0.46;
  text-align: left;
  text-decoration-skip-ink: none;
  color: #004b52;
  cursor: pointer;
}

.new-students-table tr:first-child th {
  border-top: none; /* Прибирає верхню лінію у першому рядку */
}

.new-students-table-container {
  width: 100%;
  overflow-x: hidden;
}

.new-students-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin-top: 8px;
  overflow-x: hidden;
}

.new-students-table th,
.new-students-table td {
  padding: 8px;
  text-align: left;
  word-wrap: break-word;
}

.new-students-table tr:first-child {
  border-top: none; /* Забираємо лінію для першого рядка */
}

.new-students-table th,
.new-students-table td {
  padding: 12px 0 12px 0;
}

.new-students-table {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #004b52;
}

.new-student-name {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  text-decoration-skip-ink: none;
  color: #004b52;
}

.new-main-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #004b52;
}

.new-weakest-skills-lock-container {
  overflow: hidden; /* Очищаємо float */
}

.new-weakest-skills-lock-container > * {
  float: left;
}

.new-weakest-skills-lock-container > *:last-child {
  float: right;
}

.new-selected-row {
  border-radius: 8px;
  opacity: 0.5px;
  background-color: #ecf0f1;
  cursor: pointer;
  margin-left: -8px;
  margin-right: -8px;
  border-radius: 8px 0 0 8px;
}

.new-give-grade-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.overall-progress {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #004b52;
}

.content-top-data-container {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: flex-start;
}

.content-top-data-key {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #004b52;
  margin: 0;
}

.content-top-data-value {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #004b52;
  margin: 0;
}


.content-top-data {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}

#donut-chart {
  margin: 0 20px 0 20px;
}






/* 
////////////////////////// */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-actions {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.send-button,
.close-button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.send-button {
  background-color: #004b52;
  color: white;
}

.close-button {
  background-color: #ddd;
  color: #333;
}


.textarea-feedback {
  width: 400px;
}